

<div class="container">

<mat-card>
  <mat-card-header>
    <div  class="example-header-image"></div>
    <mat-card-title>Registation</mat-card-title>
  </mat-card-header>
<form [formGroup]="myForm" >
  <!-- Name -->
  <div>
  <mat-form-field class="example-full-width">
    <input matInput placeholder="Name" formControlName="name">

    <!-- error -->
    <mat-error *ngIf="errorHandling('name', 'required')">
      You must provide a <strong>Name</strong>
    </mat-error>
  </mat-form-field>
</div>

  <!-- Email -->
  <div>
  <mat-form-field class="example-full-width">
    <input matInput placeholder="Email" formControlName="email">
    <!-- error -->
    <mat-error *ngIf="errorHandling('email', 'required')">
      You must provide a Valid <strong>email</strong>
    </mat-error>
  </mat-form-field>
</div>
<!-- password -->
  <div>
  <mat-form-field class="example-full-width">
    <!-- <span class="material-icons-two-tone">
      https
      </span> -->
    <input matInput type="password" placeholder="Password" formControlName="password">
    <!-- <mat-icon  matSuffix>  visibility_off</mat-icon> -->
    <!-- <mat-icon matSuffix>  visibility</mat-icon> -->
    <!-- error -->
    <mat-error *ngIf="errorHandling('password', 'required')">
      You must provide a <strong>Password</strong>
    </mat-error>
  </mat-form-field>
</div><br>

  <!-- Submit -->
  <div class="button-wrapper">
    <button mat-flat-button [disabled]="!myForm.valid"  (click)="submitForm()"  color="primary">Submit</button>
    <button style="padding-left: 40px;" (click)="registeredUser()" mat-button type="button" [disableRipple]= "true" color="primary">Already Registered User.</button>
  </div>
</form>
</mat-card>
</div>
